/* The default background settings of the rectangle */
rect.background {
	fill: #000000;
	fill-opacity: 1;
	stroke-opacity: 0;
}

polygon, polyline, circle {
	stroke-width: 3;
}

polygon {
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-opacity: 1;
}

polygon.stage {
	fill: #00ff00;
}

polygon.blank {
	fill: #000000;
}

polyline.wall {
	fill-opacity: 0;
	stroke: #ffffff;
	stroke-opacity: 1;
}

/* Set blue color if the doors, elevators, ladders, stairs free to open */
g.enabled {
	fill: #0000ff;
	stroke: #0000ff;
}

/* Set red color if the doors, elevators, ladders, stairs require external requirements, such as keys or events to open */
g.disabled {
	fill: #ff0000;
	stroke: #ff0000;
}

g.ladder > g > polyline, 
g.door > g > polyline, 
g.stairs > g > polyline {
	fill-opacity: 0;
	stroke-opacity: 1;
}

g.elevator > g > circle {
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-opacity: 1;
}

g.elevator > g > polyline.wall {
	fill-opacity: 0;
	stroke: #ffffff;
	stroke-opacity: 1;
}

g.elevator > g > polygon {
	fill-opacity: 1;
	stroke-opacity: 0;
}

g.arrow > g > polygon {
	fill-opacity: 1;
	stroke-opacity: 0;
}

g.arrow > g > polyline {
	fill-opacity: 0;
	stroke-width: 1;
	stroke-opacity: 1;
}
